.descriptionBlock {
  display: flex;
  flex-flow: wrap;
}
.leftPane,
.rightPane {
  padding: 16px;
}
.leftPane {
  width: 40%;
}
.rightPane {
  width: 60%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .leftPane,
  .rightPane {
    width: 100%;
  }
}
.list {
  position: static;
}
.editBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.nameBlock {
  /* margin-bottom: 24px; */
}
/* .background {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0;
} */
