.container {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 300px;
  /* height: 15rem;
  justify-content: space-between; */
}

.buttons {
  margin-bottom: 2rem;
}
/* .form div {
  margin: 1rem;
}

.form input,
.form button {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
} */
