.container {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 300px;
}
.buttons {
  margin-bottom: 2rem;
}
.captchaImage {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
}
